mixin sidebar
    .sidebar
        .sidebar__top
            .sidebar__void
                .sidebar__login
                    | Здравствуйте,
                    span.sidebar__login-name Михаил!
                img.sidebar__void-img(src='./img/void-img.svg', alt='')
                .sidebar__void-title Ваша корзина пуста
                a.sidebar__void-btn.main-btn(href='#') Перейти в каталог
                .sidebar__void-text Выбирайте из более чем 1000 свежих товаров!
                a.sidebar__void-link(href="#") Повторить прошлый заказ
                .sidebar__void-text Вы можете быстро добавить в корзину ваши предыдущие покупки
            .sidebar__exist.js-wrap-product-list
                .sidebar__title Бакалея
                .basket-list
                template.js-template-basket-product
                    .basket-list__item.basket-item.js-basket-item
                        img.basket-item__img.js-basket-item__img(src='', alt='', width='29', height='50') 
                        .basket-item__grid
                            .basket-item__count-wrap.basket-count-wrap
                                button.basket-item__btn.basket-count-wrap__btn.js-basket-list-btn-add +
                                .basket-item__count.basket-count-wrap__count.js-basket-item__count 2
                                button.basket-item__btn.basket-count-wrap__btn.js-basket-list-btn-remove -
                            .basket-item__col 
                                .basket-item__name.js-basket-item__name
                                .basket-item__bottom
                                    .basket-item__price.js-basket-item__price
                                    .basket-item__weight.js-basket-item__weight
                        .basket-item__close.js-basket-item__close
                .sidebar__title Вы обычно покупаете:
                .sidebar__scroll-list
                    .sidebar__scroll-item.basket-item
                        img(src='./img/product.png', alt='', width='29', height='50')
                        .basket-item__grid
                            .basket-item__col
                                .basket-item__name Макаронные изделия Макфа триколлини...
                                .basket-item__bottom
                                    .basket-item__price 120 руб.
                                    .basket-item__weight 450г.
                    .sidebar__scroll-item.basket-item
                        img(src='./img/product.png', alt='', width='29', height='50')
                        .basket-item__grid
                            .basket-item__col
                                .basket-item__name Макаронные изделия Макфа триколлини...
                                .basket-item__bottom
                                    .basket-item__price 120 руб.
                                    .basket-item__weight 450г.
                    .sidebar__scroll-item.basket-item
                        img(src='./img/product.png', alt='', width='29', height='50')
                        .basket-item__grid
                            .basket-item__col
                                .basket-item__name Макаронные изделия Макфа триколлини...
                                .basket-item__bottom
                                    .basket-item__price 120 руб.
                                    .basket-item__weight 450г.
                .sidebar__title Вы обычно покупаете:
                .sidebar__bottom-text Если товара не будет в наличии, его заменят на идентичный по свойствам и стоимости (с отклонением не более 50% в меньшую сторону).
        .sidebar__bottom
            .sidebar__bottom-flex
                .sidebar__bottom-title Итого,руб:
                .sidebar__bottom-price 120,85
            button.sidebar__btn.main-btn
                .sidebar__btn-wrap-img
                    img(src='./img/basket.svg', alt='basket', width='24', height='24')
                    .sidebar__btn-count 12
                    | Подтвердить заказ