@mixin hover-underline {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@mixin hover-no-decoration {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

@mixin hover-color($color) {
  text-decoration: none;
  transition: color .25s ease;
  &:hover {
    color: $color;
  }
}

@mixin hover-opacity($opacity) {
  text-decoration: none;
  transition: opacity .25s ease;
  &:hover {
    opacity: $opacity;
  }
}

@mixin hover-underline-pseudo($bg) {
  position: relative;
  text-decoration: none;
  &::after {
    background: $bg;
    bottom: rem(-2px);
    display: block;
    content: '';
    height: rem(1px);
    position: absolute;
    right: 0;
    transition: width .25s ease;
    width: 100%;
    will-change: width;
    @media screen and (min-width: $screen-d) {
      height: rem(2px);
    }
  }
  &:hover::after {
    width: 0;
  }
}
