.mobile-menu {
  display: none;
  overflow: auto;

  position: absolute;
  top: 60px;
  right: 0;
  left: 0;

  height: calc(100% - 60px);
  padding-top: 35px;
  background-color: $white;
  z-index: 9;

  @media screen and (min-width: $screen-t) {
    top: 119px;
    height: calc(100% - 119px);
    padding-top: 0;

    &:before {
      content: "";
      display: block;

      position: absolute;
      top: 0;
      right: 50px;
      bottom: 0;
      left: 0;
      background-color: rgba($dark-text, 0.7);
    }
  }

  &_show {
    display: block;
  }

  &__wrap {
    position: relative;
    z-index: 2;
    background-color: $white;
    min-height: 100%;

    @media screen and (min-width: $screen-t) {
      max-width: 302px;
    }
  }

  &__title {
    @include font-size(400, 12px, 1.2);
    color: $dark-text;

    padding-left: 16px;
    margin-bottom: 16px;

    @media screen and (min-width: $screen-t) {
      text-align: right;
      padding-top: 16px;
      padding-right: 18px;
    }
  }

  &__list {
    position: relative;

    @media screen and (min-width: $screen-t) {
      position: unset;
    }
  }

  &__li {
    border-top: 1px solid rgba($dark-text, 0.1);
  }

  &__a {
    @include flex-center;

    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;

    text-decoration: none;

    transition: 0.3s background-color;

    &_submenu {
      &:before {
        content: "";
        display: block;

        position: absolute;
        right: 5px;
        top: 12px;
        width: 10px;
        height: 10px;

        background: url("../img/arrow-down.svg") no-repeat center;
        background-size: 10px;
      }
    }

    &:hover,
    &:focus,
    &_active {
      background-color: $accent-color;
    }
  }

  &__img {
    @include flex-center;
    justify-content: center;

    width: 55px;
    flex-shrink: 0;
  }
}
