mixin mobile-menu
    .mobile-menu
        .mobile-menu__wrap
            .mobile-menu__title Выберите категорию
            ul.mobile-menu__list
                li.mobile-menu__li
                    a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                        .mobile-menu__img
                            img(src='./img/groceries.svg', alt='')
                        span Акционные товары
                    +submenu
                li.mobile-menu__li
                    a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                        .mobile-menu__img
                            img(src='./img/chef_menu.svg', alt='')
                        span Собственное производство
                    +submenu
                li.mobile-menu__li
                    a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                        .mobile-menu__img
                            img(src='./img/flour.svg', alt='')
                        span Бакалея
                    +submenu
                li.mobile-menu__li
                    a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                        .mobile-menu__img
                            img(src='./img/steak.svg', alt='')
                        span Мясо и рыба
                    +submenu
                li.mobile-menu__li
                    a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                        .mobile-menu__img
                            img(src='./img/milk.svg', alt='')
                        span Молочные продукты
                    +submenu
                li.mobile-menu__li
                    a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                        .mobile-menu__img
                            img(src='./img/salad.svg', alt='')
                        span Фрукты, овощи
                    +submenu
                li.mobile-menu__li
                    a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                        .mobile-menu__img
                            img(src='./img/dumpling.svg', alt='')
                        span Замороженные продукты
                    +submenu
                li.mobile-menu__li
                    a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                        .mobile-menu__img
                            img(src='./img/water.svg', alt='')
                        span Вода, напитки, соки
                    +submenu
                li.mobile-menu__li
                    a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                        .mobile-menu__img
                            img(src='./img/toast.svg', alt='')
                        span Хлеб, кондитерские изделия
                    +submenu
                li.mobile-menu__li
                    a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                        .mobile-menu__img
                            img(src='./img/tea.svg', alt='')
                        span Чай, кофе
                    +submenu
                li.mobile-menu__li
                    a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                        .mobile-menu__img
                            img(src='./img/grain.svg', alt='')
                        span Здоровое питание
                    +submenu
                li.mobile-menu__li
                    a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                        .mobile-menu__img
                            img(src='./img/gingerbread.svg', alt='')
                        span Детское питание
                    +submenu
                li.mobile-menu__li
                    a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                        .mobile-menu__img
                            img(src='./img/cooking.svg', alt='')
                        span Товары восточной кухни
                    +submenu
                li.mobile-menu__li
                    a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                        .mobile-menu__img
                            img(src='./img/condiment.svg', alt='')
                        span Бытовая химия, хозтовары
                    +submenu
                li.mobile-menu__li
                    a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                        .mobile-menu__img
                        span Зоотовары