mixin mobile-menu
    .mobile-menu
        .mobile-menu__title Выберите категорию
        ul.mobile-menu__list
            li.mobile-menu__li
                a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                    .mobile-menu__img
                        img(src='./img/groceries.svg', alt='')
                    span Акционные товары
                .mobile-menu__submenu
                    .mobile-menu__submenu-title text
                    .mobile-menu__submenu-ul
                        .mobile-menu__submenu-li
                            a.mobile-menu__submenu-link(href='#') Молоко
                            a.mobile-menu__submenu-link(href='#') Сливки
                            a.mobile-menu__submenu-link(href='#') Кисломолочная продукция
                            a.mobile-menu__submenu-link(href='#') Йогурты и йогуртные продукты
                            a.mobile-menu__submenu-link(href='#') Творог и творожные изделия
                            a.mobile-menu__submenu-link(href='#') Сметана
                            a.mobile-menu__submenu-link(href='#') Сыры
                            a.mobile-menu__submenu-link(href='#') Яйцо
                            a.mobile-menu__submenu-link(href='#') Мороженое
            li.mobile-menu__li
                a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                    .mobile-menu__img
                        img(src='./img/chef_menu.svg', alt='')
                    span Собственное производство
                .mobile-menu__submenu
                    .mobile-menu__submenu-title text2
                    .mobile-menu__submenu-ul
                        .mobile-menu__submenu-li
                            a.mobile-menu__submenu-link(href='#') Молоко
                            a.mobile-menu__submenu-link(href='#') Сливки
                            a.mobile-menu__submenu-link(href='#') Кисломолочная продукция
                            a.mobile-menu__submenu-link(href='#') Йогурты и йогуртные продукты
                            a.mobile-menu__submenu-link(href='#') Творог и творожные изделия
                            a.mobile-menu__submenu-link(href='#') Сметана
                            a.mobile-menu__submenu-link(href='#') Сыры
                            a.mobile-menu__submenu-link(href='#') Яйцо
                            a.mobile-menu__submenu-link(href='#') Мороженое
            li.mobile-menu__li
                a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                    .mobile-menu__img
                        img(src='./img/flour.svg', alt='')
                    span Бакалея
                .mobile-menu__submenu
                    .mobile-menu__submenu-title text3
                    .mobile-menu__submenu-ul
                        .mobile-menu__submenu-li
                            a.mobile-menu__submenu-link(href='#') Молоко
                            a.mobile-menu__submenu-link(href='#') Сливки
                            a.mobile-menu__submenu-link(href='#') Кисломолочная продукция
                            a.mobile-menu__submenu-link(href='#') Йогурты и йогуртные продукты
                            a.mobile-menu__submenu-link(href='#') Творог и творожные изделия
                            a.mobile-menu__submenu-link(href='#') Сметана
                            a.mobile-menu__submenu-link(href='#') Сыры
                            a.mobile-menu__submenu-link(href='#') Яйцо
                            a.mobile-menu__submenu-link(href='#') Мороженое
            li.mobile-menu__li
                a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                    .mobile-menu__img
                        img(src='./img/steak.svg', alt='')
                    span Мясо и рыба
                .mobile-menu__submenu
                    .mobile-menu__submenu-title text4
                    .mobile-menu__submenu-ul
                        .mobile-menu__submenu-li
                            a.mobile-menu__submenu-link(href='#') Молоко
                            a.mobile-menu__submenu-link(href='#') Сливки
                            a.mobile-menu__submenu-link(href='#') Кисломолочная продукция
                            a.mobile-menu__submenu-link(href='#') Йогурты и йогуртные продукты
                            a.mobile-menu__submenu-link(href='#') Творог и творожные изделия
                            a.mobile-menu__submenu-link(href='#') Сметана
                            a.mobile-menu__submenu-link(href='#') Сыры
                            a.mobile-menu__submenu-link(href='#') Яйцо
                            a.mobile-menu__submenu-link(href='#') Мороженое
            li.mobile-menu__li
                a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                    .mobile-menu__img
                        img(src='./img/milk.svg', alt='')
                    span Молочные продукты
                .mobile-menu__submenu
                    .mobile-menu__submenu-title text5
                    .mobile-menu__submenu-ul
                        .mobile-menu__submenu-li
                            a.mobile-menu__submenu-link(href='#') Молоко
                            a.mobile-menu__submenu-link(href='#') Сливки
                            a.mobile-menu__submenu-link(href='#') Кисломолочная продукция
                            a.mobile-menu__submenu-link(href='#') Йогурты и йогуртные продукты
                            a.mobile-menu__submenu-link(href='#') Творог и творожные изделия
                            a.mobile-menu__submenu-link(href='#') Сметана
                            a.mobile-menu__submenu-link(href='#') Сыры
                            a.mobile-menu__submenu-link(href='#') Яйцо
                            a.mobile-menu__submenu-link(href='#') Мороженое
            li.mobile-menu__li
                a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                    .mobile-menu__img
                        img(src='./img/salad.svg', alt='')
                    span Фрукты, овощи
                .mobile-menu__submenu
                    .mobile-menu__submenu-title text6
                    .mobile-menu__submenu-ul
                        .mobile-menu__submenu-li
                            a.mobile-menu__submenu-link(href='#') Молоко
                            a.mobile-menu__submenu-link(href='#') Сливки
                            a.mobile-menu__submenu-link(href='#') Кисломолочная продукция
                            a.mobile-menu__submenu-link(href='#') Йогурты и йогуртные продукты
                            a.mobile-menu__submenu-link(href='#') Творог и творожные изделия
                            a.mobile-menu__submenu-link(href='#') Сметана
                            a.mobile-menu__submenu-link(href='#') Сыры
                            a.mobile-menu__submenu-link(href='#') Яйцо
                            a.mobile-menu__submenu-link(href='#') Мороженое
            li.mobile-menu__li
                a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                    .mobile-menu__img
                        img(src='./img/dumpling.svg', alt='')
                    span Замороженные продукты
                .mobile-menu__submenu
                    .mobile-menu__submenu-title text7
                    .mobile-menu__submenu-ul
                        .mobile-menu__submenu-li
                            a.mobile-menu__submenu-link(href='#') Молоко
                            a.mobile-menu__submenu-link(href='#') Сливки
                            a.mobile-menu__submenu-link(href='#') Кисломолочная продукция
                            a.mobile-menu__submenu-link(href='#') Йогурты и йогуртные продукты
                            a.mobile-menu__submenu-link(href='#') Творог и творожные изделия
                            a.mobile-menu__submenu-link(href='#') Сметана
                            a.mobile-menu__submenu-link(href='#') Сыры
                            a.mobile-menu__submenu-link(href='#') Яйцо
                            a.mobile-menu__submenu-link(href='#') Мороженое
            li.mobile-menu__li
                a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                    .mobile-menu__img
                        img(src='./img/water.svg', alt='')
                    span Вода, напитки, соки
                .mobile-menu__submenu
                    .mobile-menu__submenu-title text8
                    .mobile-menu__submenu-ul
                        .mobile-menu__submenu-li
                            a.mobile-menu__submenu-link(href='#') Молоко
                            a.mobile-menu__submenu-link(href='#') Сливки
                            a.mobile-menu__submenu-link(href='#') Кисломолочная продукция
                            a.mobile-menu__submenu-link(href='#') Йогурты и йогуртные продукты
                            a.mobile-menu__submenu-link(href='#') Творог и творожные изделия
                            a.mobile-menu__submenu-link(href='#') Сметана
                            a.mobile-menu__submenu-link(href='#') Сыры
                            a.mobile-menu__submenu-link(href='#') Яйцо
                            a.mobile-menu__submenu-link(href='#') Мороженое
            li.mobile-menu__li
                a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                    .mobile-menu__img
                        img(src='./img/toast.svg', alt='')
                    span Хлеб, кондитерские изделия
                .mobile-menu__submenu
                    .mobile-menu__submenu-title text9
                    .mobile-menu__submenu-ul
                        .mobile-menu__submenu-li
                            a.mobile-menu__submenu-link(href='#') Молоко
                            a.mobile-menu__submenu-link(href='#') Сливки
                            a.mobile-menu__submenu-link(href='#') Кисломолочная продукция
                            a.mobile-menu__submenu-link(href='#') Йогурты и йогуртные продукты
                            a.mobile-menu__submenu-link(href='#') Творог и творожные изделия
                            a.mobile-menu__submenu-link(href='#') Сметана
                            a.mobile-menu__submenu-link(href='#') Сыры
                            a.mobile-menu__submenu-link(href='#') Яйцо
                            a.mobile-menu__submenu-link(href='#') Мороженое
            li.mobile-menu__li
                a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                    .mobile-menu__img
                        img(src='./img/tea.svg', alt='')
                    span Чай, кофе
                .mobile-menu__submenu
                    .mobile-menu__submenu-title text10
                    .mobile-menu__submenu-ul
                        .mobile-menu__submenu-li
                            a.mobile-menu__submenu-link(href='#') Молоко
                            a.mobile-menu__submenu-link(href='#') Сливки
                            a.mobile-menu__submenu-link(href='#') Кисломолочная продукция
                            a.mobile-menu__submenu-link(href='#') Йогурты и йогуртные продукты
                            a.mobile-menu__submenu-link(href='#') Творог и творожные изделия
                            a.mobile-menu__submenu-link(href='#') Сметана
                            a.mobile-menu__submenu-link(href='#') Сыры
                            a.mobile-menu__submenu-link(href='#') Яйцо
                            a.mobile-menu__submenu-link(href='#') Мороженое
            li.mobile-menu__li
                a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                    .mobile-menu__img
                        img(src='./img/grain.svg', alt='')
                    span Здоровое питание
                .mobile-menu__submenu
                    .mobile-menu__submenu-title text11
                    .mobile-menu__submenu-ul
                        .mobile-menu__submenu-li
                            a.mobile-menu__submenu-link(href='#') Молоко
                            a.mobile-menu__submenu-link(href='#') Сливки
                            a.mobile-menu__submenu-link(href='#') Кисломолочная продукция
                            a.mobile-menu__submenu-link(href='#') Йогурты и йогуртные продукты
                            a.mobile-menu__submenu-link(href='#') Творог и творожные изделия
                            a.mobile-menu__submenu-link(href='#') Сметана
                            a.mobile-menu__submenu-link(href='#') Сыры
                            a.mobile-menu__submenu-link(href='#') Яйцо
                            a.mobile-menu__submenu-link(href='#') Мороженое
            li.mobile-menu__li
                a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                    .mobile-menu__img
                        img(src='./img/gingerbread.svg', alt='')
                    span Детское питание
                .mobile-menu__submenu
                    .mobile-menu__submenu-title text12
                    .mobile-menu__submenu-ul
                        .mobile-menu__submenu-li
                            a.mobile-menu__submenu-link(href='#') Молоко
                            a.mobile-menu__submenu-link(href='#') Сливки
                            a.mobile-menu__submenu-link(href='#') Кисломолочная продукция
                            a.mobile-menu__submenu-link(href='#') Йогурты и йогуртные продукты
                            a.mobile-menu__submenu-link(href='#') Творог и творожные изделия
                            a.mobile-menu__submenu-link(href='#') Сметана
                            a.mobile-menu__submenu-link(href='#') Сыры
                            a.mobile-menu__submenu-link(href='#') Яйцо
                            a.mobile-menu__submenu-link(href='#') Мороженое
            li.mobile-menu__li
                a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                    .mobile-menu__img
                        img(src='./img/cooking.svg', alt='')
                    span Товары восточной кухни
                .mobile-menu__submenu
                    .mobile-menu__submenu-title text13
                    .mobile-menu__submenu-ul
                        .mobile-menu__submenu-li
                            a.mobile-menu__submenu-link(href='#') Молоко
                            a.mobile-menu__submenu-link(href='#') Сливки
                            a.mobile-menu__submenu-link(href='#') Кисломолочная продукция
                            a.mobile-menu__submenu-link(href='#') Йогурты и йогуртные продукты
                            a.mobile-menu__submenu-link(href='#') Творог и творожные изделия
                            a.mobile-menu__submenu-link(href='#') Сметана
                            a.mobile-menu__submenu-link(href='#') Сыры
                            a.mobile-menu__submenu-link(href='#') Яйцо
                            a.mobile-menu__submenu-link(href='#') Мороженое
            li.mobile-menu__li
                a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                    .mobile-menu__img
                        img(src='./img/condiment.svg', alt='')
                    span Бытовая химия, хозтовары
                .mobile-menu__submenu
                    .mobile-menu__submenu-title text14
                    .mobile-menu__submenu-ul
                        .mobile-menu__submenu-li
                            a.mobile-menu__submenu-link(href='#') Молоко
                            a.mobile-menu__submenu-link(href='#') Сливки
                            a.mobile-menu__submenu-link(href='#') Кисломолочная продукция
                            a.mobile-menu__submenu-link(href='#') Йогурты и йогуртные продукты
                            a.mobile-menu__submenu-link(href='#') Творог и творожные изделия
                            a.mobile-menu__submenu-link(href='#') Сметана
                            a.mobile-menu__submenu-link(href='#') Сыры
                            a.mobile-menu__submenu-link(href='#') Яйцо
                            a.mobile-menu__submenu-link(href='#') Мороженое
            li.mobile-menu__li
                a.mobile-menu__a.mobile-menu__a_submenu(href='#')
                    .mobile-menu__img
                    span Зоотовары