mixin product-list-recommend
    .product-list.js-product-list-recommend
        .swiper
            .swiper-wrapper
                .swiper-slide
                    +product-cart-recommend
                .swiper-slide
                    +product-cart-recommend
                .swiper-slide
                    +product-cart-recommend
                .swiper-slide
                    +product-cart-recommend
                .swiper-slide
                    +product-cart-recommend
                .swiper-slide
                    +product-cart-recommend
            .swiper-button-prev
            .swiper-button-next
            .swiper-scrollbar
