.footer {
  background-color: $dark-text;

  padding: 40px 0;
  color: $white;

  @media screen and (min-width: $screen-ti) {
    padding: 95px 0 84px;
  }

  &__grid {
    display: grid;
    gap: $col-gap;
    grid-template-columns: 1fr;

    max-width: 1100px;

    @media screen and (min-width: $screen-ti) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media screen and (min-width: $screen-tl) {
      gap: 72px;
      grid-template-columns: 260px 138px 176px 1fr;
    }
  }

  &__img {
    display: block;

    margin-bottom: 36px;

    @media screen and (min-width: $screen-ti) {
      margin-top: -43px;
    }
  }

  &__link {
    @include font-size(500, 14px, 1.2);
    color: $white;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $white;
    }
  }

  p {
    @include font-size(500, 12px, 1.2);
    color: rgba($white, 0.7);
  }

  &__link-polit-config {
    @include font-size(500, 12px, 1.2);
    color: $accent-color;

    display: block;
  }

  &__title {
    @include font-size(700, 18px, 1.2);
    color: rgba($white, 0.3);

    margin-bottom: 17px;
  }

  &__li {
    list-style: none;

    margin-bottom: 10px;
  }

  &__last-col {
    @media screen and (min-width: $screen-ti) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__last-col-wrap {
    max-width: 243px;
  }

  &__support {
    @include font-size(500, 14px, 1.2);
    color: $white;

    margin-bottom: 10px;
  }

  &__support-number {
    @include font-size(700, 42px, 1.2);
    color: $white;

    display: flex;
    gap: 17px;

    margin-bottom: 30px;
  }
}
