mixin footer
    .page__footer.footer
        .container
            .footer__grid
                div 
                    img.footer__img(src='./img/footer-logo.svg', alt='footer-logo')
                    p © 2001–2021 ООО «Лайм»<br><br>
                        | Все права защищены. «Лайм» является зарегистрированным товарным знаком Lime Holding SA.
                        a.footer__link-polit-config(href='#') Политика Конфиденциальности
                div
                    .footer__title О компании
                    ul
                        li.footer__li
                            a.footer__link(href='#') Доставка и оплата
                        li.footer__li
                            a.footer__link(href='#') Вопрос-ответ
                        li.footer__li
                            a.footer__link(href='#') Поставщикам
                        li.footer__li
                            a.footer__link(href='#') Контакты
                        li.footer__li
                            a.footer__link(href='#') Новости
                        li.footer__li
                            a.footer__link(href='#') Политика
                div 
                    .footer__title Покупателям
                    ul
                        li.footer__li
                            a.footer__link(href='#') Бонусная система
                        li.footer__li
                            a.footer__link(href='#') Как вернуть
                        li.footer__li
                            a.footer__link(href='#') Как заказать
                        li.footer__li
                            a.footer__link(href='#') Программа лояльности
                        li.footer__li
                            a.footer__link(href='#') Акции
                        li.footer__li
                            a.footer__link(href='#') Шеф-лайм
                .footer__last-col
                    .footer__last-col-wrap
                        .footer__support Круглосуточная поддержка
                        .footer__support-number
                            img(src='./img/fb.svg', alt='phone-call', width='25', height='24')
                            | 7756
                        .app-btns 
                            a.app-btns__item(href='#') 
                                img(src='./img/app.svg', alt='app', width='24', height='21')
                                | Скачать в AppStore
                            a.app-btns__item(href='#') 
                                img(src='./img/google-app.svg', alt='google-app', width='22', height='24')
                                | Скачать в Play Market
                        .soc-block
                            a.soc-block__item(href='#') 
                                img(src='./img/fb.svg', alt='fb', width='24', height='24')
                            a.soc-block__item(href='#') 
                                img(src='./img/youtube.svg', alt='youtube', width='24', height='24')
                            a.soc-block__item(href='#') 
                                img(src='./img/fb.svg', alt='fb', width='24', height='24')