mixin become-better
    .become-better
        .become-better__left-title  ПОМОГИТЕ НАМ СТАТЬ ЛУЧШЕ
        .become-better__title Удобно ли вам совершать покупки через наш Онлайн-Каталог?
        .become-better__right          
          .become-better__wrap-link
            a(href='#').become-better__link Да, легко найти товары
            a(href='#').become-better__link В магазине удобнее
            a(href='#').become-better__link Пользуюсь поиском на сайте