extends ../pug/layout.pug

block meta
  title Разводящая страница
  meta(name='description', content='')
block content
    .container__main
      ul
        li
          a(href="./main-page.html") Главная
        li
          a(href="./basket.html") Корзина