mixin product-list
    .product-list.js-product-list
        .swiper
            .swiper-wrapper
                .swiper-slide
                    +product-cart
                .swiper-slide
                    +product-cart
                .swiper-slide
                    +product-cart
                .swiper-slide
                    +product-cart
                .swiper-slide
                    +product-cart
                .swiper-slide
                    +product-cart
            .swiper-button-prev
            .swiper-button-next
            .swiper-scrollbar
