mixin news-list
    -
        const news = [
            {
                img: './img/open.jpg',
                alt: 'chef',
                title: 'Открытие нового магазина!',
                text: 'Выбирайте из 40 000 товаров: у нас есть фрукты и овощи, мясо и рыба, все для дома и товары для животных  мясо и рыба, все для дома и товары для животных  мясо и рыба, все для дома и товары для животных'
            },
            {
                img: './img/contest.jpg',
                alt: 'reservation',
                title: 'Конкурс рецептов Лайма',
                text: 'Выбирайте из 40 000 товаров: у нас есть фрукты и овощи, мясо и рыба, все для дома и товары для животных  мясо и рыба, все для дома и товары для животных  мясо и рыба, все для дома и товары для животных'
            },
            {
                img: './img/45min.jpg',
                alt: 'reception-bell',
                title: 'Доставка теперь за 45 минут!',
                text: 'Выбирайте из 40 000 товаров: у нас есть фрукты и овощи, мясо и рыба, все для дома и товары для животных  мясо и рыба, все для дома и товары для животных  мясо и рыба, все для дома и товары для животных'
            },
            {
                img: './img/delivery.jpg',
                alt: 'recommended',
                title: 'Теперь и в Деливери!',
                text: 'Выбирайте из 40 000 товаров: у нас есть фрукты и овощи, мясо и рыба, все для дома и товары для животных  мясо и рыба, все для дома и товары для животных  мясо и рыба, все для дома и товары для животных'
            },
        ] 
    section.news-list
        +flex-title('Новости Лайма','Все новости', 'news-list__title')
        .news-list__wrap
            each item in news
                a(href='#').news-list__item
                    .news-list__item-left
                        img.news-list__item-img(src=item.img, alt=item.alt, width='247', height='162')
                    .news-list__item-right
                        .news-list__item-title!=item.title
                        .news-list__item-text!=item.text
                        .news-list__item-link Читать дальше