.news-list {
  $el: &;

  &__wrap {
    display: flex;
    gap: 9px;
    overflow: auto;

    margin-bottom: 43px;

    @media screen and (min-width: $screen-lg) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: $col-gap;

      margin-bottom: 0;
    }

    &::-webkit-scrollbar {
      height: 2px;
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background-color: $grey;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $white;
      border-radius: 5px;
    }
  }

  &__title {
    @include font-size(700, 18px, 1.2);
    color: $dark-text;

    &:before {
      content: "";
      background-color: $accent-color;
    }
  }

  &__item-img {
    margin-bottom: 26px;

    border-radius: 10px;
    overflow: hidden;
  }

  &__item-title {
    @include font-size(700, 14px, 1.2);
    margin-bottom: 13px;
    color: $dark-text;

    transition: 0.3s color;
  }

  &__item-text {
    @include font-size(400, 12px, 1.2);
    color: $dark-text;
    opacity: 0.7;

    overflow: hidden;
    max-height: 100px;
    margin-bottom: 10px;

    position: relative;

    &::before {
      content: "";
      display: block;

      position: absolute;
      left: 0;
      right: 0;
      height: 82px;
      bottom: -42px;

      background: linear-gradient(
        0deg,
        #ffffff 50%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }

  &__item-link {
    @include font-size(400, 12px, 1.2);
    text-decoration-line: underline;
    color: $dark-text;
    opacity: 0.5;
  }

  &__item {
    margin-bottom: 23px;

    overflow: hidden;
    text-decoration: none;
    cursor: pointer;

    width: 135px;
    flex-shrink: 0;

    &:hover,
    &:focus {
      #{$el} {
        &__item-title {
          color: $accent-color;
        }
      }
    }

    @media screen and (min-width: $screen-lg) {
      width: auto;
    }
  }
}
