mixin sidebar-basket-total
    .sidebar-basket-total
        .sidebar-basket-total__row
            .sidebar-basket-total__name Стоимость товаров,руб:
            .sidebar-basket-total__count 120,85
        .sidebar-basket-total__row
            .sidebar-basket-total__name Сумма скидки,руб:
            .sidebar-basket-total__count.sidebar-basket-total__count_discount 2,98
        .sidebar-basket-total__row
            .sidebar-basket-total__name Итого,руб:
            .sidebar-basket-total__count-total 99 215,92
        button.sidebar-basket-total__btn Оформить заказ
    a.promocode-link(href="#") У меня есть промокод!