mixin main-slider
    .main-slider
        .swiper
            .swiper-wrapper
                .swiper-slide
                    img(src='./img/first.png', alt='first', width='855', height='361')
                .swiper-slide
                    img(src='./img/lime.png', alt='lime', width='855', height='361')
                .swiper-slide
                    img(src='./img/pizza.png', alt='pizza', width='855', height='361')
                .swiper-slide
                    img(src='./img/chef.png', alt='chef', width='855', height='361')
                .swiper-slide
                    img(src='./img/delivery.png', alt='delivery', width='855', height='361')
            .swiper-button-prev
            .swiper-button-next