mixin submenu
    .submenu
        .submenu__title text11
        .submenu__ul
            .submenu__li
                a.submenu__link(href='#') Молоко
            .submenu__li
                a.submenu__link(href='#') Сливки
            .submenu__li
                a.submenu__link(href='#') Кисломолочная продукция
            .submenu__li
                a.submenu__link(href='#') Йогурты и йогуртные продукты
            .submenu__li
                a.submenu__link(href='#') Творог и творожные изделия
            .submenu__li
                a.submenu__link(href='#') Сметана
            .submenu__li
                a.submenu__link(href='#') Сыры
            .submenu__li
                a.submenu__link(href='#') Яйцо
            .submenu__li
                a.submenu__link(href='#') Мороженое