.container {
  $this: &;

  max-width: 100%;
  margin-left: calc($col-gap/2);
  margin-right: calc($col-gap/2);
  gap: $col-gap;

  @media screen and (min-width: $screen-tl) {
    max-width: $screen-tl;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $screen-d) {
    max-width: $screen-d;
  }

  &__main {
    max-width: 100%;

    @media screen and (min-width: $screen-tl) {
      width: 100%;
    }

    @media screen and (min-width: $screen-d) {
      max-width: 1040px;
      width: calc(100% - (200px + 20px));
    }
  }

  &__sidebar {
    display: none;

    @media screen and (min-width: $screen-t) {
      position: relative;
      z-index: 10;
    }

    @media screen and (min-width: $screen-d) {
      display: block;

      max-width: 200px;
      width: 200px;
      flex-shrink: 0;
    }
  }

  &_flex {
    @media screen and (min-width: $screen-d) {
      display: flex;
    }
  }

  &_basket {
    @media screen and (min-width: $screen-d) {
      max-width: 1631px;
      display: grid;
      grid-template-columns: 1fr 514px;
      gap: 40px;

      #{$this} {
        &__main {
          max-width: none;
          width: auto;
        }

        &__sidebar {
          width: auto;
          max-width: none;

          padding-top: 30px;
        }
      }
    }
  }
}

.show-in-mobile {
  display: block;

  @media screen and (min-width: $screen-ti) {
    display: none;
  }
}

input {
  &[type="text"],
  &[type="number"],
  &[type="tel"] {
    @include font-size(400, 16px, 1.2);

    border: none;
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;

    border: 1px solid rgba($black, 0.1);
    padding: 7.5px 15px !important;
    width: 100%;

    &::placeholder {
      color: rgba($dark-text, 0.5);
      font-size: 14px;
    }

    &:hover,
    &:focus {
      border-color: $black;
    }
  }
}

.input-item {
  position: relative;
  padding-bottom: 20px;

  &__label {
    color: var(--color_grey);
    position: absolute;
    left: 16px;
    top: 23px;
    transition: all 0.25s ease;

    &_required {
      &:after {
        content: "";
        display: block;
        position: absolute;
        right: -8px;
        top: 0;
        width: 4px;
        height: 4px;
        border-radius: 5px;
      }
    }
  }

  &__error {
    display: none;
    font-size: 13px;
    padding-top: 5px;
    color: var(--color_pink);
  }

  &__placeholder {
    @include font-size(400, 14px, 1);
    color: rgba($black, 0.5);

    position: absolute;
    left: 15px;
    top: 12px;

    transition: top 0.3s;
  }

  &__close {
    display: none;
    position: absolute;
    right: 20px;
    top: 24px;
    width: 12px;
    height: 12px;
    background: url("../img/input-close.svg") no-repeat center;
    background-size: 12px;
    cursor: pointer;
  }

  &__date {
    @include font-size(400, 16px, 1.2);

    display: block;
    border: 1px solid rgba($black, 0.1);
    border-radius: 5px;
    padding: 7.5px 15px !important;
    width: 100%;
    height: 36px;

    cursor: pointer;

    &:hover,
    &:focus {
      border-color: $black;
    }
  }

  input {
    &::placeholder {
      color: var(--color_grey);
    }

    &[type="text"],
    &[type="number"],
    &[type="tel"] {
      position: relative;
      //z-index: 2;

      background-color: transparent;
    }

    &[type="checkbox"],
    &[type="radio"] {
      display: none;

      & + label {
        @include font-size(400, 14px, 1.57);
        position: relative;
        display: block;
        border: none;
        outline: none;
        padding-left: 52px;
        padding-top: 3px;
        min-height: 32px;
        cursor: pointer;

        @media screen and (min-width: $screen-tl) {
          @include font-size(400, 18px, 1.44);
          padding-left: 56px;
        }

        &:before {
          content: "";
          display: block;
          width: 32px;
          height: 32px;
          border-radius: 2px;
          position: absolute;
          left: 0;
          top: 0;
        }

        a {
          color: var(--color_grey);
          text-decoration: underline;

          &:hover,
          &:focus {
            text-decoration: none;
          }
        }

        &.input-item__label-card {
          @include font-size(700, 14px, 1.2);
          @include flex-center;
          justify-content: center;

          border: none;
          border-radius: 5px;
          min-height: 49px;
          -webkit-appearance: none;
          appearance: none;
          outline: none;

          border: 1px solid rgba($black, 0.1);
          padding: 7.5px 15px !important;
          width: 100%;

          text-align: center;

          &::placeholder {
            color: rgba($dark-text, 0.5);
            font-size: 14px;
          }

          &:hover,
          &:focus {
            border-color: $black;
          }
        }
      }
    }

    &[type="checkbox"],
    &[type="radio"] {
      &:checked + label {
        &:not(.input-item__label-card) {
          &::before {
            content: "";
            background-size: 17px;
          }
        }

        &.input-item__label-card {
          border-color: $accent-color;
          border-width: 2px;
          &::before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            background: url("../img/check-card.svg") $white no-repeat center;
            background-size: 20px;
            border-radius: 20px;

            position: absolute;
            left: -10px;
            top: -10px;
          }
        }
      }
    }

    &[type="date"] {
      display: none;
    }
  }

  textarea {
    width: 100%;
    border-radius: 2px;
    padding: 24px 32px 18px 16px;
    border: none;
    outline: none;

    font-size: 16px;
    height: auto;
    resize: none;
  }

  &_error {
    .input-item__error {
      display: block;
    }
  }

  &_has-value {
    .input-item__placeholder {
      @include font-size(400, 8px, 1.2);
      top: -17px;
    }
  }
}

.main-btn {
  @include font-size(700, 12px, 1.2);
  color: var(--color_white);

  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  gap: 15px;
  cursor: pointer;
  text-decoration: none;

  background-color: $accent-color;
  border: none;
  border-radius: 5px;

  padding: 10px;

  transition: background-color 0.3s;

  &_big {
    @include font-size(700, 14px, 1.2);
    padding: 14px 18px;
    border-radius: 10px;
  }
}

.section-title {
  @include font-size(700, 14px, 1.2);
  color: $dark-text;

  display: inline-block;

  position: relative;
  padding-bottom: 33px;

  @media screen and (min-width: $screen-ti) {
    @include font-size(700, 24px, 1.2);
  }

  &::before {
    content: "";
    display: block;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 22px;

    height: 4px;
    background: $accent-color;
    border-radius: 10px;
  }

  &_orange {
    &::before {
      background: linear-gradient(90deg, #ffa800 0%, #ffc709 100%), #a1d214;
    }
  }

  &_blue {
    &::before {
      background: linear-gradient(90deg, #00d1ff 0%, #17bade 0.01%, #14d28e 100%), #a1d214;
    }
  }

  &_green {
    &::before {
      background: linear-gradient(90deg, #76b852 0%, #8dc26f 100%), #a1d214;
    }
  }

  &_red {
    &::before {
      background: linear-gradient(90deg, #ff5c00 0%, #ff9900 100%), #a1d214;
    }
  }
}

.product-wrap {
  position: relative;

  max-width: 100%;

  @media screen and (min-width: $screen-ti) {
    background-color: $white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    padding: 9px 13px;
  }

  .swiper-scrollbar {
    @media screen and (min-width: $screen-d) {
      display: none;
    }
  }
}

.price-main {
  @include font-size(700, 11px, 1.2);
  color: $red-color;

  @media screen and (min-width: $screen-ti) {
    @include font-size(700, 14px, 1.2);

    &_basket {
      @include font-size(700, 24px, 1);
    }
  }
}

.price-old {
  @include font-size(500, 8px, 1.2);
  color: $dark-grey;

  display: inline-block;
  padding-left: 2px;
  padding-right: 2px;
  position: relative;

  &:after {
    content: "";
    display: block;
    height: 1px;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    background-color: $red-color;
  }

  @media screen and (min-width: $screen-ti) {
    @include font-size(500, 10px, 1.2);
  }
}

.rating-block {
  @include flex-center;
  gap: 4px;

  &__item {
    width: 10px;
    height: 10px;

    svg {
      * {
        color: rgba($dark-grey, 0.1);
      }
    }

    &_active {
      svg {
        * {
          color: $rating-color;
        }
      }
    }

    @media screen and (min-width: $screen-ti) {
      width: 12px;
      height: 12px;
    }
  }
}

.rating-count {
  @include font-size(500, 12px, 1.2);
  color: $dark-grey;

  opacity: 0.5;
}

.swiper-button-prev,
.swiper-button-next {
  @include flex-center;

  background-color: $white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  width: 27px;
  height: 72px;

  &:after {
    content: "";

    background: url("../img/arrow-slider-item.svg") no-repeat center;
    background-size: 10px;

    width: 8px;
    height: 12px;
  }
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
  transform: rotate(-180deg);
}

.swiper-button-disabled {
  display: none;
}

.swiper-scrollbar {
  background: rgba($scroll-bar-bg, 0.2);

  &.swiper-scrollbar-horizontal {
    position: relative;
    margin-top: 11px;
  }
}

.swiper-scrollbar-drag {
  background-color: rgba($dark-text, 0.3);
}

.app-btns {
  display: flex;
  flex-direction: column;
  gap: 11px;

  margin-bottom: 32px;

  &__item {
    @include flex-center;
    @include font-size(500, 14px, 1.2);
    color: $white;

    gap: 20px;

    border: 1px solid rgba($white, 0.3);
    border-radius: 10px;
    text-decoration: none;

    padding: 10px 20px;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $white;
    }
  }
}

.soc-block {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;

  &__item {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}

.composition-list {
  &__item {
    @include font-size(400, 14px, 1.2);
    color: $dark-text;

    display: flex;
    gap: 5px;
  }

  &__item-text {
    color: $composition-text;
  }
}

.favorite-btn {
  border: none;
  background-color: transparent;
  padding: 0;

  width: 20px;
  height: 20px;

  cursor: pointer;
  svg {
    width: 100%;
    height: 100%;

    * {
      color: rgba($svg-grey, 0.3);
      transition: 0.3s color;
    }
  }

  &:hover,
  &_active {
    svg {
      * {
        color: $accent-color;
      }
    }
  }
}

.basket-count-wrap {
  @include flex-center;
  gap: 5px;

  &__count {
    min-width: 30px;
    text-align: center;
  }

  &__btn {
    @include font-size(400, 14px, 1.2);
    @include clear-button;

    color: $dark-text;
  }
}

.promocode-link {
  @include font-size(400, 12px, 1.2);
  color: rgba($dark-text, 0.7);
  text-align: center;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.badge {
  @include font-size(700, 8px, 1);
  color: $white;
  text-align: center;
  background-color: $red-color;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 4px 7px;

  &_big {
    @include font-size(700, 12px, 1);

    padding: 7px 13px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 0s ease-in-out 0s;
  color: #000;
  -webkit-text-fill-color: #000;
  background: transparent;
}
